.products{
    /* background-color: red; */
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}
.products-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 9rem;
}
.all-products{
    display: flex;
}